<div class= "sidebar">
  <strong>
    <%= link_to "All categories", tools_path %>
  </strong>
  <% categories.each do |category| %>
    <%= link_to category.name, category_tools_path(category) %>
  <% end %>
</div>
