# not rendered but button updated here and in the index

<div class="card" style="width: 18rem;">
  <img src="<%= tool.picture_url%>" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title"><%= tool.name %></h5>
    <p class="card-text"><%= tool.description %></p>
    <h4><%= tool.price%></h4>
    <a href="#" class="btn btn-primary">Rent this Tool!</a>
  </div>
</div>
