<%# tool card start %>
<div class="container-fluid">
    <%= render "categories-sidebar",  categories: @categories %>

  <div class="content">
    <div class="row">
      <%= render "list-tools", tools: @tools %>
    </div>
</div>

</div>
