
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>
<div class="container">
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="card-product">
        <img src="<%= tool.picture_url %>"/>
        <div class="card-product-infos">
          <h2><%= tool.name %></h2>
          <p><%= tool.description %></p>
        </div>
      </div>
    <% end  %>
   </div>
</div>
