<div class="container">
  <div>
    <img src="<%=@user.picture_url%>" alt="profile picture" class="rounded-circle">
    <h1><%= @user.first_name %><span> </span><%=@user.last_name %></h1>
    <p><%= @user.location %></p>
  </div>
</div>
