<div class="container ">
  <div class ="justify-content-center">
    <%# <img src="" alt="profile picture" class="rounded-circle img-thumbnail h-1 w-1"> %>
    <img class="avatar-large" alt="avatar-large" src="<%=@user.picture_url%>">
    <h1><%= @user.first_name %><span> </span><%=@user.last_name %></h1>
    <p>Location: <%= @user.location %></p>
  </div>



</div>
