.navbar-lewagon {
  justify-content: space-between;
  background: rgb(240, 233, 181);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}
