.navbar-lewagon {
  justify-content: space-between;
  background: rgb(239, 217, 49);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;

}


.logo-font {
  font-family: 'Cutive', serif;
}
